.product {

    display: flex;
    border: 1px solid orange;
    height: 100px;
    margin: 15px;
}

.image {
    width:15%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.image img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}
.description {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product button{
    width: 10%;
    padding: 10px;
    align-self: center;
    margin-right: 20px;
}